.Bottom-Navigation-Wrapper{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 8px #808080cc;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--background-color);
}

.Bottom-Navigation-Wrapper ul{
    display: flex;
    list-style: none;
    gap: 22px;
    align-items: center;
    justify-content: center;
    cursor:pointer
}

.Bottom-Navigation-Wrapper ul li span{
    font-size: 30px;
}

.Bottom-Navigation-Wrapper ul li:hover span{
    color: rgba(0, 0, 255, 0.648);
}

/************Media Queries********/

@media (min-width:900px) {
    .Bottom-Navigation-Wrapper{
        display: none;
    }
}